.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/build/
/.gradle/
/.idea/
/local.properties
/.DS_Store
/.cxx/
/captures/
/outputs/
*.iml
*.log
*.tmp
*.class
gradle/